<tr>

    <td><img src="{{fotoProducto}}"/></td>
    <td>{{idProducto}}</td>
    <td> <a onclick="detail({{idProducto}})">  {{nombreProducto}} / {{descripcion}} </a> </td>   
    <td>${{precioProducto}}</td>   
    <td>${{Quantity}}</td>  
                   
</tr>
                                        
