{{#each producto}}
<tr></tr>
    <td><img src="{{fotoProducto}}" class="imgTable"/></td>
 
    <td> <a onclick="detail('{{idProducto}}')">  {{nombreProducto}}  </a> </td>   
    <td>${{precioProducto}}</td>   
    <td>{{quantity}}</td>     
     <td>${{subtotal}}</td>    

 
    <td><button onclick="deleteItemCart('{{idProducto}}')">Borrar</button></td>
</tr>

{{/each}}   

       