{{> headers title="Detalle"}}


   <div class="container">


    {{#if error}} 
        {{mensaje}}
        <a href="/productos" class="btn btn-dark btn-block my-2">Volver</a>
 
    {{else}} 
  
    <div class = "card-wrapper">
  <div class = "card">
    <!-- card left -->
    <div class = "product-imgs">
      <div class = "img-display">
        <div class = "img-showcase">
          <img src="{{producto.fotoProducto}}" alt ={{producto.nombreProducto}}>
       </div>
      </div>
    </div>
    <!-- card right -->
    <div class = "product-content">
      <h2 class = "product-title">{{producto.nombreProducto}}</h2>

      <div class = "product-price">
        <p class = "new-price">Precio: <span>${{producto.precioProducto}}</span></p>
      </div>

      <div class = "product-detail">
        <p>{{producto.descripcion}} </p>
        <ul>
          <li>Stock: <span>{{producto.stock}}</span></li>
          <li>Codigo: <span>{{producto.codigo}}</span></li>
        </ul>
      </div>

      <div class = "purchase-info">
        {{!-- <input type = "number" min = "0" value = "1"> --}}
        <button type = "button"  onclick="agregar({{producto.id}}" class = "btn">
          <i class = "fas fa-shopping-cart">  Add to Cart </i>
        </button>

        <button type = "button" class = "btn" onclick="edit({{producto.id}})">Editar</button>
      </div>

     
    </div>
  </div>
</div>

    {{/if}} 

  </div>

{{> footer year=2020}}
