<table class="table">
  <thead>
    <tr>
      <th scope="col">
        Imagen
      </th>
      <th scope="col">
        Nombre
      </th>
      <th scope="col">
        Precio
      </th>
      <th scope="col">
        Cantidad
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each producto}}
      <tr>
        <td>
          <img src="{{foto}}" alt={{nombre}} class="imgTable" />
        </td>
        <td>
          <a onclick="detail('{{_id}}')">
            {{nombre}}
          </a>
        </td>

        <td>
          ${{precio}}
        </td>
        <td>
          {{cantidad}}
        </td>

        <td>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>