{{> headers title="Productos"}}
 
 <form id="editar" data-id={{producto.id}}>
     <div class="form-group">
      <input
        id="nombreProducto"
        placeholder="Nombre"
        className="form-control"
        type="text"
        name="nombreProducto"
        value="{{producto.nombreProducto}}"
      />
    </div>
    <div class="form-group">
      <textarea
        id="descripcion"
        className="form-control"
        name="descripcion"
        placeholder="Descripción"
         value="{{producto.descripcion}}"
      ></textarea>
    </div>
    <div class="form-group">
      <input
        id="fotoProducto"
        className="form-control"
        type="text"
        name="fotoProducto"
        placeholder="Foto URL"
         value="{{producto.fotoProducto}}"
      />
    </div>
    <div class="form-group">
      <input
        id="codigo"
        className="form-control"
        type="text"
        name="codigo"
        placeholder="Codigo"
          value="{{producto.codigo}}"
      />

      <input
        id="precioProducto"
        className="form-control"
        type="number"
        name="precioProducto"
        placeholder="Precio"
         value="{{producto.precioProducto}}"
      />

      <input
        id="stock"
        className="form-control"
        type="number"
        name="stock"
        placeholder="Stock"
                 value="{{producto.stock}}"
      />
    </div>
     <a  class="btn btn-warning" onclick="deleting({{producto.id}})">Eliminar</a>
    <a class="btn btn-warning"  onclick="actualizar({{producto.id}})">Actualizar</a>
    </form>

{{> footer year=2020}}

