{{> headers title="Productos"}}

<div class="table-responsive">
  <div id="contenedor">
    <h2 style="color: blue">Vista de Productos</h2>
      <div
        class="container-fluid bg-trasparent my-4 p-3"
        style="position: relative;">
        <div
          class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
          <!-- filas -->
          {{#each productos }}
            <div class="col">
              <div class="card h-100 shadow-sm">
                <img
                  src="{{fotoProducto}}"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <div class="clearfix mb-3">
                    <span
                      class="float-start bg-primary"
                    >COD {{codigo}}</span>
                    <span class="float-end price-hp">{{precio}}</span>
                  </div>
                  <h5 class="card-title">{{nombreProducto}}</h5>
                    <p>{{descripcion}}</p>

                    <div class="text-center my-4">
                      <a  class="btn btn-warning" onclick="detail({{id}})">Detalle</a>
                       <a href="#" class="btn btn-warning">Comprar</a>
 
                      <a  class="btn btn-warning" onclick="deleting({{id}})">Eliminar</a>
                      <a class="btn btn-warning" onclick="edit({{id}})">Editar</a>

                                        

                  </div>
                </div>
              </div>
            </div>

          {{/each}}
        </div>
      </div>


  </div>
</div>
{{> footer year=2020}}

