{{> headers title="Detalle"}}

<div class="table-responsive">
   <div class="container">

    <h2 style="color: blue">Detalle</h2>

    {{#if error}} 
        {{mensaje}}
        <a href="/productos" class="btn btn-dark btn-block my-2">Volver</a>
 
    {{else}} 
    
      <div
        class="container-fluid bg-trasparent my-4 p-3"
        style="position: relative;">
        <div
          class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
          <!-- filas -->
            <div class="col">
              <div class="card h-100 shadow-sm">
                <img
                  src="{{producto.fotoProducto}}"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <div class="clearfix mb-3">
                    <span
                      class="float-start badge rounded-pill bg-primary"
                    >{{producto.nombreProducto}}</span>
                    <span class="float-end price-hp">{{producto.precio}}</span>
                  </div>
                  <h5 class="card-title">{{producto.descripcion}}</h5>
                  <h5>Stock:
                    {{producto.stock}}
                    || Cod:
                    {{producto.codigo}}
                  </h5>
                     
                  <div class="text-center my-4">
                   <a class="btn btn-warning" onclick="agregar({{id}})">Carrito</a>
 
                  </div>
                  <a class="btn btn-warning" onclick="edit({{producto.id}})">Editar</a>


                </div>
              </div>
            </div>


        </div>
      </div>
    {{/if}} 

  </div>
</div>
{{> footer year=2020}}
