{{> headers title="Info" }}

<div class="vh-100  justify-content-center align-items-center">

<p><b>Argumentos de entrada:</b> {{argumentos}}</p>
<p><b>Path de ejecución:</b> {{path}}</p>
<p><b>Sistema operativo:</b> {{so}}</p>
<p><b>Process Id:</b>{{processId}}</p>
<p><b>Version Node:</b> {{versionNode}}</p>
<p><b>Carpeta de proyecto: </b>{{folder}}</p>
<p><b>Memoria: </b>{{memory}}</p>

<p><b>Procesadores:</b>{{cpu}}</b> </p>
</div>
{{> footer year=2022}}