<div class="container">

    <h3>Datos de Sistema</h3>
    <ul>
            <li><b>Argumentos de entrada:</b> {{argumentos}}</li>
            <li><b>Sistema operativo:</b> {{so}}</li>
            <li><b>Process Id:</b>{{processId}}</li>
            <li><b>Version Node:</b> {{versionNode}}</li>
            <li><b>Carpeta de liroyecto: </b>{{folder}}</li>
            <li><b>Memoria: </b>{{memory}}</li>
     </ul>
    <h3>Datos configurados</h3>
    <ul>
            <li>
            <b> Url de MongoDB Atlas:</b>{{config.MONGO_DB.MONGO_CONNECT.url}}</li>
            <b> Clave secreta JWT:</b>{{config.JWT.SECRET}}</li>

            <li>Emails</li>
                
            <b>
                TEST_EMAIL:
            </b>{{config.EMAIL.TEST_EMAIL}}
            </li>
            <li>
            <b>
                ADMIN_EMAIL:
            </b>{{config.EMAIL.ADMIN_EMAIL}}
            </li>
    </ul>

    <h3> Configuraciones de servidor</h3>

    <ul>
        
            <li>  <b>NumeroCpus:  </b>{{config.SERVER.numeroCPUs}}</li>
            <li>
            <b>
                Tiempo de sesion:
            </b>{{config.SERVER.timeSession}}
            </li>
            <li>
            <b>
                Modo:
            </b>{{config.SERVER.modoCluster}}
            </li>
            <li>
            <b>
                Entorno:
            </b>{{config.SERVER.entorno}}
            </li>
            <li>
            <b>
                Puerto:
            </b>{{config.SERVER.PORT}}
            </li>
      </ul>

</div>
